<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>DivulgaçãoEventosApp - Home</title>
	
	<!--Import Google Icon Font-->
	<link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" />	
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css}" />
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Import CSS -->
	<link rel="stylesheet" th:href="@{/css/style/style.css}" />	
</head>
<body>

	<header>
		<nav class="menu">
			<div class="nav-wrapper">
				<a th:href="@{/eventos}" class="brand-logo">Lista de Eventos</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li>
						<a class="waves-effect waves-light btn" th:href="@{/cadastrarEvento}">
							<i class="material-icons left">add_circle_outline</i>
							Cadastrar Evento
						</a>
					</li>
				</ul>
			</div>
		</nav>	
	</header>

	<h1>Sistema para cadastro de eventos!!</h1>
	<h3>Faça seu Login e cadastre seus eventos e listas de convidados!</h3>

	<!-- Compiled and minified JavaScript -->
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js}"></script>
	<!--Import jQuery before materialize.js -->
	<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
</body>
</html>